In [14]:
import sqlite3

In [15]:
# 데이터베이스 연결 - 자바JSP에서의 Connection 객체같은 역할의 변수 con 사용
con = sqlite3.connect(':memory:')

In [16]:
query = """CREATE TABLE sales
            (customer VARCHAR(20), 
             product VARCHAR(40),
             amount FLOAT,
             date DATE);"""
con.execute(query)

In [17]:
con.commit()

In [18]:
# 몇 개의 레코드를 테이블에 insert
data = [('Richard Lucas', 'Notepad', 2.50, '2014-01-02'),
        ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
        ('Svetlana Crow', 'Printer', 155.75, '2014-01-15'),
        ('Stephen Randolph', 'computer', 679.40, '2014-02-20')]
# 각 레코드는 리스트의 요소들. 각 리스트 요소들은 튜플들

In [19]:
# sql문
sql = "INSERT INTO sales VALUES(?,?,?,?)"
con.executemany(sql, data)

In [20]:
# Sales 테이블 조회
cursor = con.execute("SELECT * FROM sales")
# cursor에서 레코드들을 추출
rows = cursor.fetchall()

In [21]:
for row in rows:
    for k in row:
        if len(str(k)) >=16: print(k, end='\t')
        else : print(k, end='\t\t')
    print()

Richard Lucas		Notepad		2.5		2014-01-02
Jenny Kim		Binder		4.15		2014-01-15
Svetlana Crow		Printer		155.75		2014-01-15
Stephen Randolph	computer		679.4		2014-02-20

In [22]:
query = """CREATE TABLE IF NOT EXISTS Suppliers
            (Supplier_Name VARCHAR(20), 
             Invoice_Number VARCHAR(40),
             Part_Number VACHAR(20),
             Cost FLOAT
             Purchase_Date DATE);"""
con.execute(query)
con.commit()

In [23]:
import csv
#csv 파일 오픈 및 읽어옴
file_reader = csv.reader(open('data.csv', 'r'), delimiter=',')
header = next(file_reader, None)
header

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']

In [36]:
for fow in file_reader:
    data=[]
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    con.execute("INSERT INTO Suppliers VALUES (?,?,?,?,?);", data)
con.commit()

IndexError: tuple index out of range

In [25]:
# 테이블 조회
output = con.execute("SELECT * FROM Suppliers")
rows = output.fetchall()
# 헤더와 함께 내용 출력
print(header)
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']

In [30]:
data = [10.5, '2020-05-07', 'Richard Lucas']
con.execute("UPDATE sales SET amount=?, date=? WHERE customer=?;", data)

In [34]:
cursor = con.execute("SELECT * FROM sales")
rows = cursor.fetchall()
for row in rows:
    for k in row:
        print(k, end='\t')
    print()

Richard Lucas	Notepad	10.5	2020-05-07
Jenny Kim	Binder	4.15	2014-01-15
Svetlana Crow	Printer	155.75	2014-01-15
Stephen Randolph	computer	679.4	2014-02-20

In [37]:
query = "DROP TABLE sales;"
con.execute(query)