In [47]:
import pandas as pd
marathon_2017 = pd.read_csv("marathon_results_2017.csv")
marathon_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26410 entries, 0 to 26409
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     26410 non-null  int64
 1   Bib            26410 non-null  object
 2   Name           26410 non-null  object
 3   Age            26410 non-null  int64
 4   M/F            26410 non-null  object
 5   City           26410 non-null  object
 6   State          22815 non-null  object
 7   Country        26410 non-null  object
 8   Citizen        1254 non-null   object
 9   Unnamed: 9     91 non-null     object
 10  5K             26410 non-null  object
 11  10K            26410 non-null  object
 12  15K            26410 non-null  object
 13  20K            26410 non-null  object
 14  Half           26410 non-null  object
 15  25K            26410 non-null  object
 16  30K            26410 non-null  object
 17  35K            26410 non-null  object
 18  40K            26410 non-null  object
 19  Pace           26410 non-null  object
 20  Proj Time      26410 non-null  object
 21  Official Time  26410 non-null  object
 22  Overall        26410 non-null  int64
 23  Gender         26410 non-null  int64
 24  Division       26410 non-null  int64
dtypes: int64(5), object(20)
memory usage: 5.0+ MB

In [48]:
# 지정한 열 개수만큼은 ... 없이 표시하도록 설정합니다
pd.options.display.max_columns = 25
marathon_2017.head(3)

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,11,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,NaN,NaN,0:15:25,0:30:28,0:45:44,1:01:15,1:04:35,1:16:59,1:33:01,1:48:19,2:02:53,0:04:57,-,2:09:37,1,1,1
1,1,17,"Rupp, Galen",30,M,Portland,OR,USA,NaN,NaN,0:15:24,0:30:27,0:45:44,1:01:15,1:04:35,1:16:59,1:33:01,1:48:19,2:03:14,0:04:58,-,2:09:58,2,2,2
2,2,23,"Osako, Suguru",25,M,Machida-City,NaN,JPN,NaN,NaN,0:15:25,0:30:29,0:45:44,1:01:16,1:04:36,1:17:00,1:33:01,1:48:31,2:03:38,0:04:59,-,2:10:28,3,3,3

In [49]:
# isnull과 sum을 이용하여 컬럼별 결측치를 표시합니다
marathon_2017.isnull().sum()

Unnamed: 0           0
Bib                  0
Name                 0
Age                  0
M/F                  0
City                 0
State             3595
Country              0
Citizen          25156
Unnamed: 9       26319
5K                   0
10K                  0
15K                  0
20K                  0
Half                 0
25K                  0
30K                  0
35K                  0
40K                  0
Pace                 0
Proj Time            0
Official Time        0
Overall              0
Gender               0
Division             0
dtype: int64

In [50]:
# 각 컬럼의 이름을 출력합니다
marathon_2017.columns

Index(['Unnamed: 0', 'Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', 'Unnamed: 9', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division'],
      dtype='object')

In [51]:
# drop을 이용하여 'Unnamed:0','Bib','Unnamed:9' 컬럼을 삭제합니다
marathon_2017_dp = marathon_2017.drop(['Unnamed: 0','Bib','Unnamed: 9'], axis=1)
marathon_2017_dp.columns

Index(['Name', 'Age', 'M/F', 'City', 'State', 'Country', 'Citizen', '5K',
       '10K', '15K', '20K', 'Half', '25K', '30K', '35K', '40K', 'Pace',
       'Proj Time', 'Official Time', 'Overall', 'Gender', 'Division'],
      dtype='object')

In [52]:
# Age가 60이상인 곳에 True, 아닌곳에 False라고 입력된 'Senior'컬럼 추가
#marathon_2017_dp['Senior'] = marathon_2017_dp['Age'].apply(lambda x : 'True' if x >=60 else 'False')
marathon_2017_dp['Senior'] = marathon_2017_dp['Age'] > 60
marathon_2017_dp.columns

Index(['Name', 'Age', 'M/F', 'City', 'State', 'Country', 'Citizen', '5K',
       '10K', '15K', '20K', 'Half', '25K', '30K', '35K', '40K', 'Pace',
       'Proj Time', 'Official Time', 'Overall', 'Gender', 'Division',
       'Senior'],
      dtype='object')

In [53]:
# 모든 값이 '2017'로 입력된 'Year'컬럼 추가
# marathon_2017_dp['Year'] = marathon_2017_dp['Year'].fillna('2017')
marathon_2017_dp['Year'] = '2017'

In [54]:
def to_seconds(record):
    hms = record.str.split(":", n=2, expand=True)  # Series이므로 스플릿불가 오류, 문자로 변형해줘야 함
    return hms[0].astype(int) * 3600 + hms[1].astype(int) * 60 + hms[2].astype(int)
    print(hms)

In [36]:
"2:03:20".split(':')

['2', '03', '20']

In [56]:
marathon_2017_dp['Official Time Sec'] = to_seconds(marathon_2017_dp['Official Time'])
marathon_2017_dp['Official Time Sec'].head(3)

0    7777
1    7798
2    7828
Name: Official Time Sec, dtype: int32