In [1]:
import pandas as pd
marathon_2015 = pd.read_csv("marathon_results_2015.csv")
marathon_2016 = pd.read_csv("marathon_results_2016.csv")
marathon_2017 = pd.read_csv("marathon_results_2017.csv")

In [2]:
# 참가년도 컬럼추가
marathon_2015['Year'] = '2015'
marathon_2016['Year'] = '2016'
marathon_2017['Year'] = '2017'

In [4]:
marathon_2015_2017 = pd.concat([marathon_2015, marathon_2016, marathon_2017], ignore_index=True)

In [7]:
pd.options.display.max_columns=27
marathon_2015_2017.head(2)

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,Year,Unnamed: 8
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1,2015,NaN
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2,2015,NaN

In [6]:
marathon_2015_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79638 entries, 0 to 79637
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     53008 non-null  float64
 1   Bib            79638 non-null  object
 2   Name           79638 non-null  object
 3   Age            79638 non-null  int64
 4   M/F            79638 non-null  object
 5   City           79637 non-null  object
 6   State          70645 non-null  object
 7   Country        79638 non-null  object
 8   Citizen        3440 non-null   object
 9   Unnamed: 9     158 non-null    object
 10  5K             79638 non-null  object
 11  10K            79638 non-null  object
 12  15K            79638 non-null  object
 13  20K            79638 non-null  object
 14  Half           79638 non-null  object
 15  25K            79638 non-null  object
 16  30K            79638 non-null  object
 17  35K            79638 non-null  object
 18  40K            79638 non-null  object
 19  Pace           79638 non-null  object
 20  Proj Time      79638 non-null  object
 21  Official Time  79638 non-null  object
 22  Overall        79638 non-null  int64
 23  Gender         79638 non-null  int64
 24  Division       79638 non-null  int64
 25  Year           79638 non-null  object
 26  Unnamed: 8     83 non-null     object
dtypes: float64(1), int64(4), object(22)
memory usage: 16.4+ MB

In [8]:
marathon_2015_2017.isnull().sum()

Unnamed: 0       26630
Bib                  0
Name                 0
Age                  0
M/F                  0
City                 1
State             8993
Country              0
Citizen          76198
Unnamed: 9       79480
5K                   0
10K                  0
15K                  0
20K                  0
Half                 0
25K                  0
30K                  0
35K                  0
40K                  0
Pace                 0
Proj Time            0
Official Time        0
Overall              0
Gender               0
Division             0
Year                 0
Unnamed: 8       79555
dtype: int64

In [9]:
marathon_2015_2017 = marathon_2015_2017.drop(['Unnamed: 0','Bib','Citizen','Unnamed: 9',\
                                              'Proj Time','Unnamed: 8'], axis=1)
marathon_2015_2017.head(2)

,Name,Age,M/F,City,State,Country,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Gender,Division,Year
0,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,2:09:17,1,1,1,2015
1,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,2:09:48,2,2,2,2015

In [10]:
# 수학적 연산에 대한 기능이 많은 numpy 모듈 임포트
import numpy as np
# .to_timedelta() : 문자형 시간데이터를 타임델타 형식으로 변환하는 판다스 함수
marathon_2015_2017['5K'] = pd.to_timedelta(marathon_2015_2017['5K'])
marathon_2015_2017['5K'].head(2)

0   0 days 00:14:43
1   0 days 00:14:43
Name: 5K, dtype: timedelta64[ns]

In [11]:
# 'm8[s]' : 판다스에서 제공하는 타임델타에서 표현하는 '초(second)'단위 형식
marathon_2015_2017['5K'] = marathon_2015_2017['5K'].astype('m8[s]')
marathon_2015_2017['5K'].head(2)

0    883.0
1    883.0
Name: 5K, dtype: float64

In [12]:
# 고용량(8Byte-64bit)의 정수로 변환
marathon_2015_2017['5K'] = marathon_2015_2017['5K'].astype(np.int64)
marathon_2015_2017['5K'].head(2)

0    883
1    883
Name: 5K, dtype: int64

In [13]:
marathon_2015_2017['10K'] = pd.to_timedelta(marathon_2015_2017['10K'])
marathon_2015_2017['10K'] = marathon_2015_2017['10K'].astype('m8[s]').astype(np.int64)

In [16]:
marathon_2015_2017['15K'] = pd.to_timedelta(marathon_2015_2017['15K'])
marathon_2015_2017['20K'] = pd.to_timedelta(marathon_2015_2017['20K'])
marathon_2015_2017['Half'] = pd.to_timedelta(marathon_2015_2017['Half'])
marathon_2015_2017['25K'] = pd.to_timedelta(marathon_2015_2017['25K'])
marathon_2015_2017['30K'] = pd.to_timedelta(marathon_2015_2017['30K'])
marathon_2015_2017['35K'] = pd.to_timedelta(marathon_2015_2017['35K'])
marathon_2015_2017['40K'] = pd.to_timedelta(marathon_2015_2017['40K'])
marathon_2015_2017['Pace'] = pd.to_timedelta(marathon_2015_2017['Pace'])
marathon_2015_2017['Official Time'] = pd.to_timedelta(marathon_2015_2017['Official Time'])

marathon_2015_2017['15K'] = marathon_2015_2017['15K'].astype('m8[s]').astype(np.int64)
marathon_2015_2017['20K'] = marathon_2015_2017['20K'].astype('m8[s]').astype(np.int64)
marathon_2015_2017['Half'] = marathon_2015_2017['Half'].astype('m8[s]').astype(np.int64)
marathon_2015_2017['25K'] = marathon_2015_2017['25K'].astype('m8[s]').astype(np.int64)
marathon_2015_2017['30K'] = marathon_2015_2017['30K'].astype('m8[s]').astype(np.int64)
marathon_2015_2017['35K'] = marathon_2015_2017['35K'].astype('m8[s]').astype(np.int64)
marathon_2015_2017['40K'] = marathon_2015_2017['40K'].astype('m8[s]').astype(np.int64)
marathon_2015_2017['Pace'] = marathon_2015_2017['Pace'].astype('m8[s]').astype(np.int64)
marathon_2015_2017['Official Time'] = marathon_2015_2017['Official Time'].astype('m8[s]').astype(np.int64)
marathon_2015_2017.head(2)

,Name,Age,M/F,City,State,Country,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Gender,Division,Year
0,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,883,1783,2697,3629,3842,4567,5520,6479,7359,296,7757,1,1,1,2015
1,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,883,1783,2698,3628,3841,4567,5519,6479,7362,298,7788,2,2,2,2015

In [17]:
marathon_2015_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79638 entries, 0 to 79637
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           79638 non-null  object
 1   Age            79638 non-null  int64
 2   M/F            79638 non-null  object
 3   City           79637 non-null  object
 4   State          70645 non-null  object
 5   Country        79638 non-null  object
 6   5K             79638 non-null  int64
 7   10K            79638 non-null  int64
 8   15K            79638 non-null  int64
 9   20K            79638 non-null  int64
 10  Half           79638 non-null  int64
 11  25K            79638 non-null  int64
 12  30K            79638 non-null  int64
 13  35K            79638 non-null  int64
 14  40K            79638 non-null  int64
 15  Pace           79638 non-null  int64
 16  Official Time  79638 non-null  int64
 17  Overall        79638 non-null  int64
 18  Gender         79638 non-null  int64
 19  Division       79638 non-null  int64
 20  Year           79638 non-null  object
dtypes: int64(15), object(6)
memory usage: 12.8+ MB

In [18]:
marathon_2015_2017.to_csv("marathon_2015_2017.csv", index=None, header=True)