## cx_oracle 설치 법
- anaconda prompt 관리자 모드 실행
- pip install cx_oracle

In [36]:
import cx_Oracle

In [37]:
# 데이터베이스에 연결
con = cx_Oracle.connect('scott','tiger','localhost:1521/xe')

In [53]:
# dept 테이블 조회 후 출력
query = "Select * from dept"
cur = con.cursor() # 객체 생성
cur.execute(query)
for a,b,c in cur:
    print(a,b,c)

10 ACCOUNTING NEW YORK
20 RESEARCH DALLAS
30 SALES CHICAGO
40 OPERATIONS BOSTON

In [54]:
query = """CREATE TABLE product_(
             product_id number primary key, 
             product_name VARCHAR2(50),
             price number default 0,
             description varchar2(100),
             image varchar2(30)
             )"""
cur.execute(query)

DatabaseError: ORA-00955: name is already used by an existing object

In [56]:
con.commit()

In [57]:
# 복수개의 데이터 삽입
sql = "insert into product_ values(:1,:2,:3,:4,:4,:5)"
items=[
        (1, '사과', 10000, '청도 꿀 사과 당도가 매우 높음', 'apple.jpg'),
        (3, '오렌지', 2000, '비타민c가 풍부, 생과일 주스용', 'orange.jpg'),
        (4, '키위', 1300, '다이어트나 미용에 좋음', 'kiwi.jpg'),
        (5, '포도', 1200, '폴리페놀을 다량 함유', 'grape.jpg'),
        (6, '딸기', 3000, '플로보노이드 다량 함유', 'strawberry.jpg')
]
cur.arraysize = len(items)  # 리스트의 개수 전달
cur.executemany(sql, items)
con.commit()

DatabaseError: ORA-01008: not all variables bound

In [64]:
# 전체 데이터 조회
def select_table():
    sql = "select * from product_"
    cur.execute(sql)
    for row in cur:
        for field in row:
            print(field, end='\t')
        print()

In [65]:
select_table()

In [62]:
# 데이터의 수정
sql = "update product_ set price= :1 where product_id= :2"
data = (25000,4)
cur.execute(sql, data)
con.commit()
select_table()

In [63]:
sql = "delete from product_ where product_id = 6"
cur.execute(sql)
con.commit()
select_table()